* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.card {
    height: 400px;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    border-radius: 10px;
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card h1 {
    font-size: 30px;
    margin: 10px 0;
}

.card h5 {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}

.card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.card #remove {
    background-color: #dadada;
    color: #111;
}